MYSQL_ROOT_PASSWORD=123456
REDIS_PASSWORD=123456
RABBITMQ_USER=nhzx
RABBITMQ_PASSWORD=nhzx123
NACOS_AUTH_IDENTITY_KEY=nhzxServer
NACOS_AUTH_IDENTITY_VALUE=nhzxSecret
NACOS_AUTH_TOKEN=U2VjcmV0S2V5MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTIzNDU2Nzg5MDEyMzQ1Njc4OQ==
MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=123456
MONGO_APP_USER=nhzx
MONGO_APP_PASSWORD=123321
MONGO_DATABASE=nhzx
